.books {
    flex: 0.8;
    max-width: fit-content;
    overflow-y: scroll;
    height: 600px;


  }
 /* Hide scrollbar for Chrome, Safari and Opera */
.books::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.books {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}