.footer {
    border-top: 1px solid lightgray;
    padding: 5px;
    background-color: #f7f7f7;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;


  }
  .footer > p {
    padding: 1px;
    font-size: 10px;
  }
  