.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: red;
    transition: color 100ms ease-out;
  }
  .sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
  }
  
  .sidebarOption > h2 {
    font-size: 20px;
    margin-right: 20px;
  }
  .sidebarOption--active {
    color: red;
  }
  a:link {
    color: red;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }

  